.navbar {
  position: absolute;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  width: 275px;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 600ms;
  border-right: 2px solid var(--highlight-color);
  opacity: 0.93;
  z-index: 1;
  .navbar-links {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 2rem;
    font-size: 1.25rem;
    list-style: none;
    & li {
      padding: 1rem;
      border-radius: 0.5rem;
    }
    & li:hover {
      background: var(--highlight-color);
      color: black;
      cursor: pointer;
    }
  }
  .navbar-socials {
    padding: 2rem;
    font-size: 2rem;
    &:hover {
      cursor: pointer;
      color: var(--highlight-color);
    }
  }
}
